[submodule "external/allrank"]
	path = external/allrank
	url = git@github.com:weitong8591/allRank.git
[submodule "external/vggt"]
	path = external/vggt
	url = https://github.com/facebookresearch/vggt.git
