[submodule "external/allrank"]
	path = external/allrank
	url = https://github.com/allegro/allRank.git
[submodule "external/vggt"]
	path = external/vggt
	url = https://github.com/facebookresearch/vggt.git
